html
  body
    header
      title signup page
    h1 signup page
    form(name="signup", method="post")
      input(type="text", name="username")
      input(type="password", name="pass")
      input(type="submit", value="register")
