[Desktop Entry]
Encoding=UTF-8
Name=AutoCal
Comment=Automatic Calendar and Event Management
Exec=autocal
Terminal=false
Type=Application
StartupNotify=false
Icon=autocal
Categories=Qt;Office;Utility;
