extends ../account

block account-tab-content
  p.lead Account email
  p Lorem ipsum cillum proident aliquip nulla exercitation voluptate mollit.
  p Your current email: <strong>email@gmail.com</strong>
  form(method="post", action="#{form_url}")
    .input-prepend.input-append.input-block
      label.add-on(for="email"): i.icon-envelope
      input(name="email", type="text", placeholder="Your new Email")
      button.btn.btn-medium(type="submit") Update
