extends ../account

block account-tab-content
  p.lead Account password
  p Lorem ipsum cillum proident aliquip nulla exercitation voluptate mollit.
  form(method="post", action="#{form_url}")
    .input-prepend.input-block
      label.add-on(for="password"): i.icon-lock
      input(name="password", type="password", placeholder="Your current password")
    .input-prepend.input-block
      label.add-on(for="password1"): i.icon-lock
      input(name="password1", type="password", placeholder="Your new password")
    .input-prepend.input-block
      label.add-on(for="password2"): i.icon-lock
      input(name="password2", type="password", placeholder="Re-type your new password")
    .controls
      button.btn.btn-medium(type="submit") Update
