extends ../account

block account-tab-content
  p.lead Account overview
  table.table
    tbody
      tr
        th Display name
        td John Doe
      tr
        th Gravatar email
        td email@gmail.com
      tr
        th Username
        td username
      tr
        th Email
        td email@gmail.com
      tr
        th Current plan
        td Pro - expires 18/01/2013
      tr
        th Last payment
        td 2$ - 18/12/2012 - User Pro Plan
      tr
        th PayPal email
        td pie*************com
      tr
        th Remaining bookmarks
        td 93
      tr
        th Owner of
        td DIGITAS
      tr
        th Member of
        td DIGITAS, fuborg
