extends ../account

block account-tab-content
  p.lead Profile gravatar email
  p Lorem ipsum cillum proident aliquip nulla exercitation voluptate mollit.
  p Your current gravatar email: <strong>gravatar-email@gmail.com</strong>
  form(method="post", action="#{form_url}")
    .input-prepend.input-append.input-block
      label.add-on(for="gravatar-email"): i.icon-envelope
      input(name="gravatar-email", type="text", placeholder="Your new gravatar email")
      button.btn.btn-medium(type="submit") Update
