extends _layout

block content
  article.container
    .inner-container.navbar-inner
      h2.page-title= title
      p Lorem ipsum ad ut veniam elit sed dolor eiusmod deserunt in reprehenderit aliqua exercitation in officia magna ullamco dolore do adipisicing velit voluptate fugiat enim.
      p Lorem ipsum ad ut veniam elit sed dolor eiusmod deserunt in reprehenderit aliqua exercitation in officia magna ullamco..
      .media
        a.pull-left(href="#")
          img.media-object(src="/resources/medias/images/placeholder.64x64.png")
        .media-body
          h4.media-heading Pierre
          p Lorem ipsum dolor laboris enim eu enim tempor Duis aliquip ut magna aute ullamco mollit enim laboris do dolor eu enim nostrud.
          ul.nav.nav-pills
            li: a(href="#")
              i.icon-envelope
              | &nbsp; email
            li: a(href="#")
              i.icon-globe
              | &nbsp; portfolio
      .media
        a.pull-left(href="#")
          img.media-object(src="/resources/medias/images/placeholder.64x64.png")
        .media-body
          h4.media-heading Fred
          p Lorem ipsum dolor laboris enim eu enim tempor Duis aliquip ut magna aute ullamco mollit enim laboris do dolor eu enim nostrud.
          ul.nav.nav-pills
            li: a(href="#")
              i.icon-envelope
              | &nbsp; email
            li: a(href="#")
              i.icon-globe
              | &nbsp; website