extends _layout

block content
  article.container
    .row
      h2.page-title= title
      div.item
        a.lead(href="#") What is #{locals.app_name}?
        p #{locals.app_name} Lorem ipsum non minim culpa veniam magna dolore.
      div.item
        a.lead(href="#") Lorem ipsum non minim culpa veniam magna dolore.
        p Lorem ipsum non minim culpa veniam magna dolore.
