extends _layout

block content
  article
    .hero-unit.index-push
      .container
        h1 hello
        p #{locals.app_name} is an organization-based bookmarks manager.
        p
          a.btn.btn-info.btn-large(href="#") Preview
          | &nbsp;
          a.btn.btn-success.btn-large(href="/sign-up") Get started now!
    .container
      p.lead Why #{locals.app_name}?
      p Lorem ipsum sed culpa cupidatat Ut dolor minim amet do exercitation aliquip veniam laboris aliquip Excepteur sit aute cillum irure proident consectetur veniam ullamco dolor in ullamco magna fugiat exercitation culpa dolor qui ut adipisicing dolore qui minim id occaecat nostrud irure nostrud pariatur fugiat occaecat dolor amet dolore minim fugiat consectetur quis qui consectetur esse velit sit sed cillum proident mollit eiusmod ut irure dolore fugiat culpa ea in enim ut id ex velit commodo et laborum aliqua nostrud adipisicing sed ut veniam laborum in consequat adipisicing dolore veniam laboris magna ut magna cupidatat pariatur sed consequat nisi pariatur quis in Ut qui fugiat nulla.
