extends _layout

block content
  article
    .hero-unit
      h1 #{locals.app_name} is temporary down for maintenance.
      p While you wait, you can read about:
      ul
        li: a(href="#") Our Privacy policy
        li: a(href="#") Our Terms and conditions
        li: a(href="#") Our Security Guidelines
        li: a(href="#") Our Blog
