extends _layout

block content
  article.container
    .inner-container.navbar-inner
      h2.page-title= title
      p Lorem ipsum ad ut veniam elit sed dolor eiusmod deserunt in reprehenderit aliqua exercitation in officia magna ullamco dolore do adipisicing velit voluptate fugiat enim.
      p Lorem ipsum ad ut veniam elit sed dolor eiusmod deserunt in reprehenderit aliqua exercitation in officia magna ullamco..